body {
  font-family: "Arial", sans-serif;
  margin: 40px;
  line-height: 1.7;
  background-color: #ffffff;
  color: #222;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #003366;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #002244;
}

p {
  text-align: justify;
}

.equation {
  text-align: center;
  font-size: 1.15em;
  margin: 20px 0;
  font-family: "Times New Roman", serif;
}

.highlight {
  background-color: #f3f6fa;
  border-left: 5px solid #003366;
  padding: 15px;
  margin: 25px 0;
}

.next {
  background-color: #eef7f0;
  border-left: 5px solid #2e7d32;
  padding: 15px;
  margin: 30px 0;
}
